<div id="dialog" style="text-align: center; display: table-cell; vertical-align: middle;">
    <div class="dialogValid">
        <img src="Images/valid.gif" alt="Those credentials are valid" />
    </div>
    <div class="dialogNotValid">
        <img src="Images/notvalid.gif" alt="Those credentials are bogus" />
    </div>
    <div class="dialogError">
        <img src="Images/error.gif" alt="Sorry, the server soiled itself."  />
    </div>
    <div class="dialogUserName">
        <img src="Images/nousername.gif" alt="Who is this kid??" />
    </div>
    <div class="dialogPassword">
        <img src="Images/nopassword.gif" alt="Do you regret your password choice?" />
    </div>
</div>
