    <div id="foot">
        <div id="foot_copyright">
            &copy;2014 Joel Etherton&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="foot_container">
            <div class="footer">
                <strong>Credits</strong><br />
                Matthew James Taylor: <a href="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu.htm" target="_blank">2-column layout</a><br />
                Stuart Nicholls: <a href="http://www.cssplay.co.uk/layouts/basics2.html" target="_blank">Sticky Footer</a><br />
            </div>
            <div class="footer">
                <strong>Powered By</strong><br />
                <a href="http://www.asp.net/mvc" target="_blank">Asp.Net MVC 3</a><br />
                <a href="http://www.jquery.com/" target="_blank">jQuery</a><br />
                <a href="http://jqueryui.com/home/" target="_blank">jQuery User Interface</a> (awesome)<br />                
            </div>
        </div>
    </div>